* {
  box-sizing: border-box;
}

html,
body {
  background: url(background.png) no-repeat fixed center;
  background-size: cover;
  color: white;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 62.5%;
}

header {
  height: 4.3rem;
  background: #1c1c1c;
  border-bottom: 1px solid #474747;
}

header img {
  width: 2.8rem;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.9rem;
}

header h2 {
  font-size: 1.6rem;
}

.back_button {
  color: white;
  text-decoration: none;
  border: 1px solid #2f2f2f;
  background-image: linear-gradient(#292929, #020202);
  font-size: 1.2rem;
  padding: 0.7rem;
  font-weight: bold;
}

.left_arrow {
  transform: scaleX(-0.8);
}

main {
  padding: 1.9rem;
  margin: 0 auto;
  width: 100%;
  font-size: 1.4rem;
}

main figure {
  margin: 0;
}
main img {
  width: 100%;
  height: 100%;
  border: 3px solid white;
}

article {
  line-height: 0.45rem;
  margin-bottom: 2.6rem;
}

article p {
  color: #a1bed9;
}

article a {
  color: white;
  text-decoration-color: #81909e;
}

ul.more_information {
  background-color: #e8ebee;
  color: #001325;
  font-weight: bold;
  font-size: 1.6rem;
  border-radius: 0.5rem;
  padding: 0;
  line-height: 4.4rem;
}

ul.more_information li {
  list-style: none;
  padding: 0 1.8rem;
  background-image: linear-gradient(transparent, #c0cedb);
}

ul.more_information li a {
  text-decoration: none;
  color: #001325;
  display: flex;
  justify-content: space-between;
}

.link_marker {
  transform: scaleY(1.6);
  font-weight: 600;
}

ul.more_information li:not(:last-child) {
  border-bottom: 1px solid #eeeeee;
}

ul.more_information li:not(:first-child) {
  border-top: 1px solid #cbcbcb;
}

@media screen and (min-width: 768px) {
  main {
    width: 80%;
  }

  main img {
    width: 75%;
    height: 75%;
  }

  main figure {
    display: flex;
    justify-content: center;
  }

  main article {
    font-size: 2rem;
  }
}
